<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio_item.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @portfolio_item.url %>
</p>

<p>
  <strong>Github link:</strong>
  <%= @portfolio_item.github_link %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @portfolio_item.desc %>
</p>

<p>
  <strong>Image:</strong>
  <%= @portfolio_item.image %>
</p>

<%= link_to 'Edit', edit_portfolio_item_path(@portfolio_item) %> |
<%= link_to 'Back', portfolio_items_path %>
